html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@media (min-width: 320px) {
  .container {
    min-width: 320px;
    padding: 0 30px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 50px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (min-width: 1050px) {
  .container {
    padding: 0 50px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1900px;
    padding: 0 140px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-weight: normal;
  font-family: "Geometria";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Geometria-Regular.woff2") format("woff2"), url("../fonts/Geometria-normal.woff") format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "Geometria";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Geometria-Bold.woff2") format("woff2"), url("../fonts/Geometria-Bold.woff") format("woff");
}
body {
  position: relative;
}
.page-title {
  font-family: "Geometria", Arial, sans-serif;
  color: #000000;
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  margin: 0 0 50px;
}
@media (min-width: 768px) {
  .page-title {
    font-size: 48px;
  }
}
.page-header {
  min-height: 60px;
}
.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .page-header {
    min-height: 116px;
  }
}
.page-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page-nav__logo-link {
  margin-right: auto;
}
.page-nav__logo-img {
  width: 90px;
  height: 40px;
}
.page-nav__hamburger {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 4;
  display: block;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.page-nav__hamburger:hover {
  outline: none;
}
.page-nav__hamburger:focus {
  outline: none;
}
.page-nav--closed .main-nav,
.page-nav--closed .user-block {
  display: none;
}
.page-nav--opened .main-nav,
.page-nav--opened .user-block {
  display: block;
}
.page-nav--closed .page-nav__hamburger::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 9px;
  width: 20px;
  height: 2px;
  background-color: #00D36D;
  -webkit-box-shadow: 0 6px 0 0 #00D36D, 0 12px 0 0 #00D36D;
          box-shadow: 0 6px 0 0 #00D36D, 0 12px 0 0 #00D36D;
}
.page-nav--closed .page-nav__hamburger:active::before {
  background-color: #6dffb8;
  -webkit-box-shadow: 0 6px 0 0 #6dffb8, 0 12px 0 0 #6dffb8;
          box-shadow: 0 6px 0 0 #6dffb8, 0 12px 0 0 #6dffb8;
}
.page-nav--opened .page-nav__hamburger::before,
.page-nav--opened .page-nav__hamburger::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 5px;
  width: 30px;
  height: 2px;
  background-color: #00D36D;
}
.page-nav--opened .page-nav__hamburger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.page-nav--opened .page-nav__hamburger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.page-nav--opened .page-nav__hamburger:active::before,
.page-nav--opened .page-nav__hamburger:active::after {
  background-color: #6dffb8;
}
.page-nav--nomagic .page-nav__hamburger {
  display: none;
}
@media (max-width: 767px) {
  .page-nav--closed .main-nav,
  .page-nav--closed .user-block {
    display: none;
  }
}
@media (min-width: 768px) {
  .page-nav__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .page-nav__logo-link {
    margin-right: 35px;
  }
  .page-nav__hamburger {
    display: none;
  }
  .page-nav__logo-img {
    width: 180px;
    height: 80px;
  }
  .page-nav .main-nav,
  .page-nav .user-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 850px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav--footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}
.main-nav__item--header {
  width: 100%;
  text-align: center;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-nav__item--footer {
  width: auto;
  padding: 10px;
}
.main-nav__item-link {
  font-family: "Geometria", Arial, sans-serif;
  color: #000000;
  opacity: 0.5;
  text-decoration: none;
  font-size: 14px;
}
.main-nav__item-link:hover {
  opacity: 0.8;
}
.main-nav__item-link:focus {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .main-nav__item {
    margin-right: 20px;
    width: auto;
    padding: 0;
  }
  .main-nav--footer {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .main-nav__item-link {
    font-size: 18px;
    line-height: 40px;
  }
  .main-nav__item--footer {
    margin-right: 20px;
    width: auto;
    padding: 0;
  }
}
.user-block {
  width: 260px;
  margin: 0 auto;
}
.user-block__search-button {
  background-color: transparent;
  border: none;
  margin-right: auto;
}
.user-block__search-label {
  margin-bottom: 30px;
  display: block;
  position: relative;
}
.user-block__search-label:hover {
  opacity: 0.7;
}
.user-block__search-label:active {
  opacity: 0.9;
}
.user-block__search-input {
  height: 25px;
  border: none;
  border-bottom: 2px solid gray;
  width: 190px;
  position: absolute;
}
.user-block__search-input--hidden {
  display: none;
}
.user-block__signin-button {
  font-family: "Geometria", Arial, sans-serif;
  color: #00D36D;
  font-size: 14px;
  line-height: 33px;
  display: block;
  height: 33px;
  width: 240px;
  border: 1px #00D36D solid;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}
.user-block__signin-button:hover {
  background-color: #00D36D;
  color: #ffffff;
  opacity: 0.7;
}
.user-block__signin-button:focus {
  background-color: #00D36D;
  color: #ffffff;
  opacity: 0.9;
}
@media (min-width: 768px) {
  .user-block {
    width: 150px;
    margin: 0;
  }
  .user-block__signin-button {
    width: 90px;
  }
  .user-block__search-button {
    margin-right: 0;
    margin-bottom: 0;
  }
  .user-block__search-n-signin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
  }
  .user-block__search-label {
    margin-bottom: 0;
  }
}
.partners {
  padding: 70px 0 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.partners__title {
  margin: 0 0 50px;
}
.partners__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main {
  background-color: #F2F4F7;
}
.two-option-toggle__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 60px;
  height: 34px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto 50px;
}
.two-option-toggle__first-option,
.two-option-toggle__second-option {
  font-family: "Geometria", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  width: 115px;
  cursor: pointer;
  display: block;
}
.two-option-toggle__first-option {
  margin-right: 50px;
}
.two-option-toggle__second-option {
  margin-left: 50px;
}
.two-option-toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 15px;
  left: 0;
  background-color: #00D36D;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  width: 54px;
  height: 25px;
}
.two-option-toggle__slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 1px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.two-option-toggle__input:checked + .two-option-toggle__slider::before {
  -webkit-transform: translateX(29px);
          transform: translateX(29px);
}
.two-option-toggle__first-option:hover,
.two-option-toggle__second-option:hover {
  color: #00D36D;
}
@media (min-width: 768px) {
  .two-option-toggle__first-option,
  .two-option-toggle__second-option {
    font-size: 14px;
  }
}
.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partners-list__item-link {
  text-decoration: none;
}
.partners-list__item {
  padding: 20px 20px 30px 20px;
  width: 218px;
  height: 300px;
  border-radius: 8px;
  background-color: #ffffff;
  margin: 0 auto 40px;
}
.partners-list__item:hover {
  -webkit-box-shadow: 0 6px 10px 0 #8F8F8F;
          box-shadow: 0 6px 10px 0 #8F8F8F;
}
.partners-list__item-percent {
  font-family: "Geometria", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  margin: 0 0 5px 0;
}
.partners-list__item-clarification {
  margin: 0 0 27px 0;
  font-family: "Geometria", Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  opacity: 0.4;
}
.partners-list__item-img {
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.partners-list__item-title {
  font-family: "Geometria", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  opacity: 0.5;
  text-align: center;
  margin: 0;
}
.partner-list__show-more-button {
  font-family: "Geometria", Arial, sans-serif;
  font-size: 18px;
  line-height: 23px;
  width: 184px;
  height: 48px;
  background-color: #00D36D;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.partner-list__show-more-button:hover {
  opacity: 0.8;
}
.offers {
  padding: 60px 0 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.offers__title {
  font-family: "Geometria", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}
.offers__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.offers__list-item {
  margin-bottom: 40px;
  width: 377px;
}
.offers__list-item:hover {
  opacity: 0.9;
}
.offers__list-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.offers__list-title-img {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: auto;
}
.offers__list-info-logo {
  margin-right: 15px;
}
.offers__list-company-title {
  margin: 0;
  font-family: "Geometria", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  opacity: 0.5;
  margin-bottom: 5px;
}
.offers__list-discount-title {
  margin: 0;
  font-family: "Geometria", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.offers__list-link {
  text-decoration: none;
}
.offers__show-more-button {
  font-family: "Geometria", Arial, sans-serif;
  font-size: 18px;
  line-height: 23px;
  width: 222px;
  height: 48px;
  background-color: #00D36D;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.offers__show-more-button:hover {
  opacity: 0.8;
}
@media (min-width: 768px) {
  .offers__title {
    font-size: 32px;
  }
  .offers__list-item {
    margin-right: 20px;
  }
  .offers__list-title-img {
    display: block;
    margin-bottom: 15px;
  }
  .offers__list-discount-title {
    font-size: 18px;
  }
}
.advantages {
  padding: 60px 0 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages__list {
  width: 158px;
  height: 420px;
  border-radius: 80px 80px 0 0;
  background-color: #ffffff;
  margin: 0 auto 120px;
  padding: 19px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.advantages__list::after {
  content: "";
  width: 187px;
  height: 80px;
  background-color: #ffffff;
  position: absolute;
  bottom: -30px;
  font-family: "Geometria", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-align: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0 0 80px 80px;
}
.advantages__list--long {
  height: 680px;
  position: relative;
}
.advantages__list--discounts::after {
  content: "Скидки за бонусы";
  width: 158px;
  left: 0;
  bottom: -80px;
}
.advantages__list--personal-offer::after {
  content: "Персональное исходя из трат";
  width: 158px;
  left: 0;
  bottom: -80px;
}
.advantages__list--coupon::after {
  content: "Выгодные купоны";
  width: 158px;
  left: 0;
  bottom: -80px;
}
.advantages__list--percents::after {
  content: "Большой % начисления";
  width: 158px;
  left: 0;
  bottom: -80px;
}
.advantages__list-item {
  margin-bottom: 5px;
  position: relative;
}
.advantages__list-item--percents::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 17px;
  font-family: "Geometria", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  z-index: 3;
}
.advantages__list-item--percents::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #000000;
  border-radius: 50%;
  z-index: 2;
  right: 5px;
  top: -10px;
}
.advantages__list-item--percents:nth-of-type(1)::before {
  content: "3%";
}
.advantages__list-item--percents:nth-of-type(2)::before {
  content: "1.5%";
  right: 11px;
}
.advantages__list-item--percents:nth-of-type(3)::before {
  content: "5%";
}
.advantages__list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages__list-tablet {
  font-family: "Geometria", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  position: absolute;
}
.advantages__list-item-link:hover {
  opacity: 0.7;
}
.advantages__list-item-link:focus {
  opacity: 0.9;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages__list {
    width: 420px;
    height: 158px;
    border-radius: 80px;
    margin: 0 40px 80px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .advantages__list::after {
    content: "";
    height: 42px;
    position: absolute;
    bottom: -30px;
    line-height: 40px;
    border-radius: 0 0 30px 30px;
    padding: 0;
  }
  .advantages__list--long {
    width: 680px;
    position: relative;
    margin-right: 0;
  }
  .advantages__list--discounts::after {
    content: "Скидки за бонусы";
    width: 187px;
    left: 240px;
  }
  .advantages__list--personal-offer::after {
    content: "Персональное исходя из трат";
    width: 327px;
    left: 170px;
  }
  .advantages__list--coupon::after {
    content: "Выгодные купоны";
    width: 227px;
    left: 90px;
  }
  .advantages__list--percents::after {
    content: "Большой % начисления";
    width: 227px;
    left: 90px;
  }
  .advantages__list-item {
    margin-right: 10px;
  }
}
.coord-select {
  padding: 10px;
}
.coord-select__link {
  font-family: "Geometria", Arial, sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 32px;
  opacity: 0.5;
  text-decoration: none;
  white-space: nowrap;
  margin-bottom: 30px;
  display: block;
}
.coord-select__link:hover {
  opacity: 0.7;
}
.coord-select__link:focus {
  opacity: 0.9;
}
@media (min-width: 768px) {
  .coord-select {
    margin-bottom: 15px;
    padding: 0;
  }
  .coord-select__link {
    margin-bottom: 30px;
    display: block;
  }
}
.page-footer {
  min-height: 320px;
  padding-bottom: 40px;
  padding-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page-footer__nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page-footer__contacts {
  margin: 0 50px 30px 0;
  width: 150px;
}
.page-footer__contacts-tel {
  font-family: "Geometria", Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}
.page-footer__contacts-tel:hover {
  opacity: 0.7;
}
.page-footer__contacts-tel:focus {
  opacity: 0.9;
}
.page-footer__logo {
  margin-bottom: 40px;
}
.page-footer__logo:hover {
  opacity: 0.7;
}
.page-footer__logo:focus {
  opacity: 0.9;
}
.page-footer__contacts-info {
  font-family: "Geometria", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.5;
  display: block;
  width: 150px;
}
.page-footer__socials-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 768px) {
  .page-footer__contacts {
    margin: 0 100px 0 0;
  }
  .page-footer__nav-block {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-footer__logo {
    margin-right: 90px;
    margin-bottom: 0;
  }
  .page-footer__socials-block {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (min-width: 1050px) {
  .page-footer__contacts {
    margin: 0 145px 0 0;
  }
  .page-footer__logo {
    margin-right: 135px;
  }
}
.socials__application-list,
.socials__networks-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials__networks-list-img {
  border-radius: 10px;
}
.socials__application-list-item {
  margin-bottom: 40px;
}
.socials__application-list-item:last-of-type {
  margin-right: 0;
}
.socials__networks-list-item {
  margin-right: 10px;
}
.socials__networks-list-item:last-of-type {
  margin-right: 0;
}
.socials__application-list-link:hover {
  opacity: 0.7;
}
.socials__application-list-link:focus {
  opacity: 0.9;
}
.socials__networks-list-link:hover {
  opacity: 0.7;
}
.socials__networks-list-link:focus {
  opacity: 0.9;
}
@media (min-width: 768px) {
  .socials__application-list-item {
    margin-right: 10px;
    margin-bottom: 0;
  }
  .socials__application-list {
    margin-bottom: 20px;
  }
}
.disclaimer-block {
  font-family: "Geometria", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.disclaimer-block__copyright {
  margin-right: 30px;
  display: block;
  width: 165px;
}
.disclaimer-block__page-disclaimer {
  display: block;
}
@media (min-width: 768px) {
  .disclaimer-block__copyright {
    margin-right: 125px;
  }
}
.page-tags {
  text-align: center;
}
.page-tags--padding-top {
  padding-top: 70px;
}
.page-tags__link {
  font-family: "Geometria", Arial, sans-serif;
  color: #000000;
  opacity: 0.5;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  position: relative;
}
.page-tags__link:hover {
  opacity: 0.7;
}
.page-tags__link:focus {
  opacity: 0.9;
}
.page-tags__link:nth-of-type(odd) {
  margin-right: 15px;
}
.page-tags__link:nth-of-type(odd)::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.5;
  top: 8px;
  right: -9px;
}
.product-offer {
  padding-top: 20px;
}
.product-offer__wrapper {
  margin: 0 auto;
  max-width: 1170px;
}
.product-offer__title {
  margin-bottom: 41px;
}
.product-offer__title-block {
  max-width: 1170px;
  background: -webkit-gradient(linear, left top, right top, from(#f76c55), color-stop(51.56%, #dd599d), to(#c250cd));
  background: linear-gradient(90deg, #f76c55 0%, #dd599d 51.56%, #c250cd 100%);
  border-radius: 30px;
  padding: 0;
  margin-bottom: 20px;
}
.product-offer__main-banner {
  width: 100%;
}
.product-offer__info-wrapper {
  background-color: #ffffff;
  border-radius: 30px 30px 0 0;
}
.product-offer__subtitle {
  font-family: "Geometria", Arial, sans-serif;
  color: #000000;
  opacity: 0.5;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 40px;
}
.product-offer__offer {
  font-family: "Geometria", Arial, sans-serif;
  color: #000000;
  margin-bottom: 40px;
  padding: 0 30px;
}
.product-offer__offer-info {
  font-size: 16px;
  line-height: 27px;
}
.product-offer__offer-list {
  font-size: 16px;
  line-height: 36px;
}
.product-offer__list-item {
  list-style: none;
  position: relative;
}
.product-offer__list-item::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.5;
  left: -15px;
  top: 15px;
}
.product-offer__instruction {
  padding: 0 30px 30px;
}
.product-offer__instruction-title {
  font-family: "Geometria", Arial, sans-serif;
  color: #000000;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
}
.product-offer__instruction-list {
  font-family: "Geometria", Arial, sans-serif;
  color: #000000;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 36px;
  list-style: decimal;
}
.product-offer__personal-data {
  font-family: "Geometria", Arial, sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 27px;
}
.product-offer__personal-data span {
  font-weight: bold;
}
.product-offer__in-details-link {
  font-family: "Geometria", Arial, sans-serif;
  text-decoration: none;
  color: #00D36D;
  font-size: 16px;
  line-height: 24px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.product-offer__in-details-link:hover {
  opacity: 0.7;
}
.product-offer__in-details-link:focus {
  opacity: 0.9;
}
.product-offer__in-details-link:last-of-type {
  margin-bottom: 65px;
}
.product-offer__disclamer {
  font-family: "Geometria", Arial, sans-serif;
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .product-offer__title-block {
    padding: 43px 146px 32px 120px;
  }
  .product-offer__subtitle {
    font-size: 20px;
  }
  .product-offer__offer {
    padding: 0 50px;
  }
  .product-offer__offer-info {
    font-size: 18px;
  }
  .product-offer__offer-list {
    font-size: 18px;
  }
  .product-offer__instruction {
    padding: 0 50px 50px;
  }
  .product-offer__instruction-title {
    font-size: 18px;
  }
  .product-offer__instruction-list {
    font-size: 18px;
  }
  .product-offer__personal-data {
    font-size: 18px;
  }
  .product-offer__in-details-link {
    font-size: 18px;
  }
}
.company-location {
  padding-top: 50px;
  padding-bottom: 120px;
}
.company-location__title {
  font-family: "Geometria", Arial, sans-serif;
  color: #000000;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.company-location__title img {
  margin-right: 15px;
}
.company-location__iframe-map {
  border: none;
  width: 100%;
  height: 380px;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .company-location__iframe-map {
    width: 1170px;
    height: 380px;
    text-align: center;
    display: block;
  }
}
.location-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.location-cards__item {
  max-width: 377px;
  min-width: 260px;
  min-height: 200px;
  border: 1px dashed #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.location-cards__item:hover {
  border: 1px solid #00d36d;
}
.location-cards__item-logo {
  margin-right: 15px;
}
.location-cards__address {
  margin: 0 0 5px 0;
  font-family: "Geometria", Arial, sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
}
.location-cards__metro-stations {
  list-style: none;
  padding: 0;
  margin: 0 0 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.location-cards__metro-station {
  margin-right: 15px;
}
.location-cards__metro-station:last-of-type {
  margin-right: 0;
}
.location-cards__metro-station-img {
  margin-right: 5px;
}
.location-cards__metro-station-text {
  font-family: "Geometria", Arial, sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
}
.location-cards__tel {
  font-family: "Geometria", Arial, sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 5px 0;
  text-decoration: none;
}
.location-cards__tel:hover {
  opacity: 0.7;
}
.location-cards__tel:focus {
  opacity: 0.9;
}
.location-cards__working-hours {
  font-family: "Geometria", Arial, sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 5px 0;
}
.location-cards__company-link {
  font-family: "Geometria", Arial, sans-serif;
  color: #00D36D;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 5px 0;
  width: 100%;
  display: block;
}
.location-cards__company-link:hover {
  opacity: 0.7;
}
.location-cards__company-link:focus {
  opacity: 0.9;
}
.location-cards__set-destination {
  font-family: "Geometria", Arial, sans-serif;
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  display: block;
  text-align: right;
}
.location-cards__set-destination:hover {
  opacity: 0.7;
}
.location-cards__set-destination:focus {
  opacity: 0.9;
}
.location-cards__item-logo-img {
  margin-right: 20px;
  display: block;
}
@media (min-width: 768px) {
  .location-cards__item {
    margin-right: 20px;
  }
}
.partners-form__label {
  font-family: "Geometria", Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  text-align: center;
  display: block;
  min-width: 151px;
  min-height: 48px;
  cursor: pointer;
  padding: 15px 15px 10px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.partners-form__show-more-button {
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  width: 65px;
  height: 48px;
  border-radius: 10px;
  font-family: "Geometria", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.partners-form__show-more-button:active {
  background-color: #00D36D;
  color: #ffffff;
  opacity: 0.9;
}
.partners-form__label:hover,
.partners-form__show-more-button:hover {
  background-color: #00D36D;
  color: #ffffff;
  opacity: 0.7;
}
.partners-form__checkbox:checked + .partners-form__label {
  background-color: #00D36D;
  color: #ffffff;
  opacity: 0.9;
}
@media (min-width: 768px) {
  .partners-form__label {
    font-size: 18px;
    line-height: 47px;
    text-align: center;
    padding: 0 15px;
    display: block;
  }
}
